@{
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
    ViewBag.Title = "SuperAdmin Dashboard";
}

<h2> SuperAdmin Dashboard</h2>

@* <div class="row mt-4">
    <div class="col-md-4">
        <div class="card bg-primary text-white p-3">
            <h5>Manage Schools</h5>
            <p>You can create, update, and delete schools here.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-dark text-white p-3">
            <h5>Platform Settings</h5>
            <p>Configure global platform settings and preferences.</p>
        </div>
    </div> *@
</div>